* {
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}
input {
    height: 40px;
}

.flex__inside {
    display: inline-flex;
    flex-direction: column;
    margin: 15px 0;
}

.triangulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

header {
    position: fixed;
    width: 99%;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 ;
    min-height: 80px;
    text-align: center;
    border: solid #c53e3e 2px;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    padding: 20px 0;
    background-color: white;
}

main {
    padding-top: 8em;
    margin-bottom: 3rem;
}

input[type="submit"] {
    background-color: #6c3174;
    color: white;
    border: solid 1px #311135;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}	

input[type="submit"]:hover {
    background-color: #311135;
}

input[type="submit"]:active {
    background-color: rgb(77, 20, 85);
}

input[type="text"], input[type="number"], input[type="date"] {
    padding-left: 15px;
}

input[type="date"]{
    padding-right: 15px;
}